<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244124690089-p68v6jtr0odeumc0na8e5scsn91mvf9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244124690089-p68v6jtr0odeumc0na8e5scsn91mvf9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>244124690089-uum23ucrjogsidtfthedv3m6ses4a4e6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIJE8626DU081PUrAc1L0aobm-K4oz-F0</string>
	<key>GCM_SENDER_ID</key>
	<string>244124690089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthFlutter</string>
	<key>PROJECT_ID</key>
	<string>loginauthtest-5c250</string>
	<key>STORAGE_BUCKET</key>
	<string>loginauthtest-5c250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244124690089:ios:dd99a63fa158761128abb8</string>
</dict>
</plist>